@model IEnumerable<makemesmarter.Models.User>

@{
    ViewBag.Title = ViewData["Title"];
    var chartLink = (List<Tuple < string,string>>) ViewData["ChartListLink"];
    
}

<h2>@ViewBag.Title</h2>

<div class="row-fluid">
    <div class="span3">
        @foreach (var item in chartLink)
        {
            <div>
                @Html.ActionLink(item.Item1, item.Item2)
            </div>
        }
    </div>
    <div class="span6">
        @RenderPage("~/Views/ChartTypes/Pie.cshtml")
    </div>
</div>







